.belowImages
{
    
    
    height: 150px;
    width: 100%;
    
    top:1000px;
    
    background-color: burlywood;
    
    
}
.inside
{
    
    alignment-adjust: central;
    height: 150px;
    width: 830px;
    margin-top: 30px;
    margin-top: 30px;
    top:1330px;
    margin-left: 420px;
   
    
    background-color: #F2F2F2;
    
    
    
}
h4{
    position: absolute;
    top:122%;
    left:56%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0 80px;
    font-family: sans-serif;
    font-size:2.2em;
    margin-top: 130px;


    
    text-shadow: 0 5px 15px rgba(0,0,0,.1);
    
    text-transform: uppercase;
    border:15px solid #000;
    
    border-top: none;
    
}
h4 span
{
    
    position: relative;
    display: inline-block;
    
    
}


h4 span:nth-child(4)
{
    
    color: green;
    animation: animate505 3s alternate infinite;
    
}


h4 span:nth-child(10)
{
    
    color: green;
    animation: animate505 3s alternate infinite;
    
}

@keyframes animate505
{
    
    0%
    {
        
        transform:translateY(0px) rotate(0deg) ;
    }
     40%
    {
        
        transform:translateY(0px) rotate(0deg);
    }
   
        
    50%
    {
        
        transform:translateY(-100px) rotate(180deg) ;
    }
 
      60%
    {
        
        transform:translateY(0px) rotate(360deg);
    }
   
    100%
    {
        
        transform:translateY(0) rotate(360deg);
    }

    
    
}

h4 span
{
     animation: animate505 3s alternate infinite;
    
    
}
h4 span:nth-child(1)
{
    
    animation-delay: 0s;
    
}

h4 span:nth-child(2)
{
    
    animation-delay: 0.2s;
    
}
h4 span:nth-child(3)
{
    
    animation-delay: 0.6s;
    
}
h4 span:nth-child(5)
{
    
    animation-delay: 0.1s;
    
}
h4 span:nth-child(6)
{
    
    animation-delay: 0.5s;
    
}
h4 span:nth-child(7)
{
    
    animation-delay: 0.3s;
    
}
h4 span:nth-child(8)
{
    
    animation-delay: 0.6s;
    
}
h4 span:nth-child(9)
{
    
    animation-delay: 0.1s;
    
}
h4 span:nth-child(11)
{
    
    animation-delay: 0.2s;
    
}
h4 span:nth-child(12)
{
    
    animation-delay: 0.4s;
    
}
h4 span:nth-child(13)
{
    
    animation-delay: 0.3s;
    
}
h4 span:nth-child(14)
{
    
    animation-delay: 0.2s;
    
}


